.container{
    border: solid;
    border-radius: 10px;
    margin-top: 250px;
    padding:50px;
    height: 300px;
    width: 700px;
    background-color: white
}

body{
    background-color:black ;
    display: flex;
    justify-content: center;
}

#text-content{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 50px;
    line-height: 1.6;
}

.heading{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bolder;
   border: solid;
   border-radius: 10px;
   text-align: center;
   font-size: 70px;
   position: relative;
   bottom: 90px;
   padding: 30px;
   background-color: rgb(206, 67, 67);
   border-color: rgb(206, 67, 67);
}

@media (max-width: 1251px) and (min-width: 300px){

    .heading{
        font-size: 25px;
        
    }
    #text-content{
        font-size: 23px;
    }
}